*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 118%;

     color: #232222;
    
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    /* background-color: aqua;  */
    margin: 0 auto;
}

/*HEADER*/

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    
}

.logo {
    margin-left: 16px;
}

.logo__img {

}

.menu {
    margin-top: 16px;
}

.menu__list {
    
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 30px;
}
/*.menu__item:not(:last-child){
    margin-right: 30px;
}
*/
.menu__link {

    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 116%;

    color: #001E64;
}
.menu__link:hover{
    border-bottom: 1px solid #001E64;
}
.phone {
    margin-top: 11px;
    margin-right: 43px;
}

.phone__img {

}


/*HEADER-CONTENT*/


.header__cotent {
    background-image: url(../images/hero/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 10px;

    margin-top: -52px;
}


.header__content-title {
    font-family: 'Roboto Slab', serif; 
    font-weight: 700;
    font-size: 72px;
    line-height: 131%;

    color: #001E64;

    max-width: 589px;

    padding-top: 85px;
    padding-left: 112px;

    /* margin-bottom: 5px; */

}

.header__btn {
    font-family: 'Roboto Slab',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;

    color: #FFFFFF;

    padding: 14px 88px 14px 87px;

    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 112px;

    display: inline-block;
    position: absolute;

    transform: translateY(-100px);


}

.header__content-box {
    display: flex;
    margin-left: 100%; 
    margin-right: 30px;

    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
    
    color: #FFFFFF;
    

}

.header__content-link {
    
}

.header__content-link--active{
    border-bottom: 1px solid #FFFFFF;
    font-weight: 700;
    

}
/*SLIDER*/

.header-slider {
    max-width: 522px;
    padding-top: 51px;
    padding-left: 112px;
    padding-bottom: 105px;

}

.slick-prev,
.slick-next {
    position: absolute;
    left: 40px;

    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.slick-prev {
    top: 0;
}

.slick-next {
    bottom: 0;
}

.slick-dots {
    list-style: none;
    position: absolute;
    left: 35px;
    top: 58px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    color: #FFFFFF;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 116%;

    opacity: 0.5;
}

.slick-dots button::before {
    content: '0';
}

.slick-dots li:nth-child(n + 10) button::before {
    content: '';
}

.slick-active button {
    opacity: 1;
}

/* .header-slider__item {} */

.header-slider__text {
    margin-bottom: 25px;

    font-weight: normal;
    font-size: 18px;
    line-height: 120%;

    color: #FFFFFF;
}

/* MAIN*/

.product {
    padding-top: 100px;
}



.product__inner {
    display: flex;
    justify-content: space-between;
}

.product__name {
    width: 510px;

    text-align: center;
    padding-top: 41px;
}

.up-crab{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
.up-crab,
.down-crab{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.product__name-item {

    font-family: 'Roboto Slab',
    serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 137%;

    cursor: pointer;

}

.product__name-item.slick-current {
    font-family: 'Roboto Slab',
    serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 138%;

    /* фирменный синий */

    color: #001E64;
}

.product__name-item+.product__name-item  {
    margin-top: 20px;
}



.prodact__content {
    width: 600px;
}

.prodact__content-items {}

.prodact__content-box {
    display: flex;
    justify-content: space-between;
}

.prodact__content-img {
    object-fit: cover;

}

.prodact__content-list {
    width: 291px;
    list-style: none;

}

.prodact__content-item {
    margin-bottom: 30px;
}

.prodact__content-item span{
    display: block;
    margin-bottom: 10px;
    color: #001E64;
}

.prodact__content-title {
    font-family: 'Roboto Slab',
    serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 133%;
  

    color: #001E64;

    margin-bottom: 20px;

    padding-top: 20px;
}

.prodact__content-text {
    margin-bottom: 25px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */


    /* черный */

    color: #232222;

}

.prodact__content-btn {
    display: inline-block;

    font-family: 'Roboto Slab',
    serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;

    color: #001E64;

    padding: 12px 85px;

    border: 1px solid #001E64;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;

    cursor: pointer;
}
.prodact__content-btn:hover{
    border-color: #0e49d3;
}

/* SEAFOOD  benefits*/

.seafood {
    background-image: url(../images/benefits/Group\ 24.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  top center;
    padding: 290px 0 95px;
}


.seafood__item { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.seafood__items {
        font-family: 'Roboto Slab',serif;
    
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;

        color: #FFFFFF;

        display: flex;
        justify-content: space-around;

        width: 180px;
        min-height: 165px;

        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(../images/shell/shell-01.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    
}
.seafood__items:not(:last-child){
    margin-right: 100px;
}
