*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 118%;

     color: #232222;
    
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    /* background-color: aqua;  */
    margin: 0 auto;
}

/*HEADER*/

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    
}

.logo {
    margin-left: 16px;
}

.logo__img {

}

.menu {
    margin-top: 16px;
}

.menu__list {
    
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 30px;
}
/*.menu__item:not(:last-child){
    margin-right: 30px;
}
*/
.menu__link {

    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 116%;

    color: #001E64;
}
.menu__link:hover{
    border-bottom: 1px solid #001E64;
}
.phone {
    margin-top: 11px;
    margin-right: 43px;
}

.menu__btn{
    display: none;
    position: relative;
    width: 40px;
    border: none;
    padding: 10px 0;
    background-color: transparent;
    cursor: pointer;
}
.menu__btn::before,
.menu__btn::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 4px;
    border-radius: 10px;
    background-color: #001E64;

}
.menu__btn::before{
    top: 0;
}
.menu__btn::after{
    bottom: 0;
}

.menu__btn span{
    display: block;
    height: 4px;
    border-radius: 10px;
    background-color: #001E64;
}


/*HEADER-CONTENT*/


.header__cotent {
    background-image: url(../images/hero/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 10px;

    margin-top: -72px;
}


.header__content-title {
    font-family: 'Roboto Slab', serif; 
    font-weight: 700;
    font-size: 72px;
    line-height: 131%;

    color: #001E64;

    max-width: 589px;

    padding-top: 85px;
    padding-left: 112px;

    /* margin-bottom: 5px; */

}

.header__btn {
    font-family: 'Roboto Slab',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;

    color: #FFFFFF;

    padding: 14px 88px 14px 87px;

    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 112px;

    display: inline-block;
    position: absolute;

    transform: translateY(-100px);
   


}
.header__btn:hover{
    background-color: #fff;
    color: #001E64;
     transition: all .6s;
}

.header__content-box {
    display: flex;
   justify-content: flex-end;
    margin-right: 30px;

    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
    
    color: #FFFFFF;
    

}

.header__content-link {
    
}

.header__content-link--active{
    border-bottom: 1px solid #FFFFFF;
    font-weight: 700;
    

}
/*SLIDER*/

.header-slider {
    max-width: 522px;
    padding-top: 51px;
    padding-left: 112px;
    padding-bottom: 105px;

}

.slick-prev,
.slick-next {
    position: absolute;
    left: 40px;

    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.slick-prev {
    top: 0;
}

.slick-next {
    bottom: 0;
}

.slick-dots {
    list-style: none;
    position: absolute;
    left: 35px;
    top: 58px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    color: #FFFFFF;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 116%;

    opacity: 0.5;
}

.slick-dots button::before {
    content: '0';
}

.slick-dots li:nth-child(n + 10) button::before {
    content: '';
}

.slick-active button {
    opacity: 1;
}

/* .header-slider__item {} */

.header-slider__text {
    margin-bottom: 25px;

    font-weight: normal;
    font-size: 18px;
    line-height: 120%;

    color: #FFFFFF;
}

/* MAIN*/

.product {
    padding-top: 100px;
}



.product__inner {
    display: flex;
    justify-content: space-between;
}

.product__name {
    width: 510px;

    text-align: center;
    padding-top: 41px;
}

.up-crab{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
.up-crab,
.down-crab{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.product__name-item {

    font-family: 'Roboto Slab',
    serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 137%;

    cursor: pointer;

}

.product__name-item.slick-current {
    font-family: 'Roboto Slab',
    serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 138%;

    /* фирменный синий */

    color: #001E64;
}

.product__name-item+.product__name-item  {
    margin-top: 20px;
}



.prodact__content {
    width: 600px;
}

.prodact__content-items {}

.prodact__content-box {
    display: flex;
    justify-content: space-between;
}

.prodact__content-img {
    object-fit: cover;

}

.prodact__content-list {
    width: 291px;
    list-style: none;

}

.prodact__content-item {
    margin-bottom: 30px;
}

.prodact__content-item span{
    display: block;
    margin-bottom: 10px;
    color: #001E64;
}

.prodact__content-title {
    font-family: 'Roboto Slab',
    serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 133%;
  

    color: #001E64;

    margin-bottom: 20px;

    padding-top: 20px;
}

.prodact__content-text {
    margin-bottom: 25px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */


    /* черный */

    color: #232222;

}

.prodact__content-btn {
    display: inline-block;

    font-family: 'Roboto Slab',
    serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;

    color: #001E64;

    padding: 12px 85px;

    border: 1px solid #001E64;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;

    cursor: pointer;
}
.prodact__content-btn:hover{
    background-color: #001E64;
    color: #FFFFFF;
    transition: all .6s;
}

/* SEAFOOD  benefits*/

.seafood {
    background-image: url(../images/benefits/Group\ 24.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  top center;
    padding: 290px 0 95px;
}


.seafood__item { 
    display: flex;
    justify-content: space-around;
    
    }

.seafood__items {
        font-family: 'Roboto Slab',serif;
    
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;

        color: #FFFFFF;

        display: flex;
        justify-content: space-around;

        width: 180px;
        min-height: 165px;

        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(../images/shell/shell-01.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    
}
.seafood__items:not(:last-child){
    margin-right: 100px;
}

/* Main content about seafood */
.seafoods {
    padding: 100px 0;
}

.seafoods__items {
    margin-bottom: 100px;
}

.seafoods__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.seafoods__item-right .seafoods__item-titile {
        max-width: 420px;
}

.seafoods__item-right .seafoods__item-content{
    margin-right: 180px;
}


.seafoods__item-titile {
    max-width: 490px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab',
    serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    

    color: #001E64;
}

.seafoods__item-text {
    max-width: 420px;
    margin-bottom: 20px;
}


/* seafood__blockquote */

.seafoods__blockquote {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.seafoods__blockquote-text {
    max-width: 600px;
    margin: 0 auto;

    font-family: 'Roboto Slab',
    serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
 
    color: #232222;

}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}


/* contacts */

.contacts {
    background-image: url(../images/contacts/contacts-jpg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    /* margin-bottom: 29px; */
}

.contacts__box {
    margin-left: auto;
    width: 390px;
    background-color: #fff;
    padding: 33px 0 33px 20px;

}

.contacts__box-text {
    width: 195px;
    margin-bottom: 30px;
    /* padding-left: 20px; */
    font-family: 'Roboto Slab',
    serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;

    color: #001E64;
}

.contacts__box-list {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;

    /* черный */

    color: #232222;
}

.contacts__box-item{
    margin-top: 30px;

}

.contacts__box-item span{
    display: block;
}

.mail:hover, 
.phone:hover{
    border-bottom: 1px solid #001E64;
}

/* footer */

.footer {
    padding: 25px 0 110px ; 
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 45px 0 23px;
    margin-right: auto;

}

.footer__inner .menu{
    padding-bottom: 30px;
    margin: 0;
}

.footer-social__list { 
    display: flex;
    align-items: center;
    padding-bottom: 22px;
}

.footer-social__item{
    
}
.footer-social__item+.footer-social__item {
    margin-left: 10px;
}

.footer-social__link:hover path {
    fill: #001E64;
}

.footer-social__link path{
    transition: all 0.6s;
}

/* media */

@media (max-width: 1160px){
    .product__name {
        width: 350px;
    }
    .footer{
        padding-top: 0;
        padding-bottom: 65px;
    }
    .footer .footer__logo,
    .footer .menu{
        display: none;
    }
    .footer-social__item+.footer-social__item{
        margin-left: 30px;
    }
    .footer-social__list{
        padding-bottom: 0;
    }
    .footer__inner {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 25px 45px;
        margin-right: auto;
        margin-top: 80px;
    }
}

@media (max-width: 1100px){
    .seafoods__item-content{
        padding-right: 20px;
    }
    .seafoods__item-right .seafoods__item-content{
        padding-right: 0;
        padding-left: 20px;
    }
}

@media (max-width: 998px){
.menu__list {
    position: absolute;
    top: -360px;
    left: 60%;
    right: 5%;
    display: block;
    background-color: #73c1f8ee;
    z-index: 2;
}
.menu__list.menu__list--active{
    top: 50px;
    transition: all .5s;
    border-radius: 50px;
   
}
.menu__btn{
    display: inline-block;
    margin: 0 20px;
}
.menu{
    margin-left: auto;
    margin-top: 15px;
}

.menu__item + .menu__item{
    margin-left: 0;
}
.menu__link{
    display: block;
    margin-left: 0;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    /* pointer-events: none; */
    
}
.menu__link:hover{
    border: none;
}
.phone{
    margin-right: 0;
}
.product__name {
    width: 250px;
}
.seafood__items:not(:last-child){
    margin-right: 0;
}

}

@media(max-width: 950px){
    .seafoods__item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .seafoods__item-right{
        flex-wrap: wrap-reverse;
    }
    .seafoods__item-content {
        padding-right: 0px;
        
    }

    .seafoods__item-right .seafoods__item-content {
        padding-right: 0;
        padding-left:  0px;
        
    }
    .seafoods__item-titile, 
    .seafoods__item-text {
        max-width: 100%;
    }
    .seafoods__blockquote-img{
        max-width: 100%;
    }
    .seafoods__item-right .seafoods__item-content{
        margin-right: 0;
    }
    .seafoods__item-img {
        max-width: 100%;
    }
    .seafoods{
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media (max-width: 890px){
    .product__inner{
        display: block;
    }
    .prodact__content{
        margin: 0 auto;
    }
    .product__name{
        width: 100%;
        padding-top: 0;
        margin-bottom: 80px;
    }
    .product__name-item + .product__name-item{
        margin-top: 0;
    }
    .product__name-item.slick-current {
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        line-height: 95%;
        color: #001E64;
    }
    .product__name .slick-dots{
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: center;
        

    }
    .product__name .slick-dots button{
        margin: 0 5px;
        width: 10px;
        height: 10px;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
        background-color: #c4c4c4;
    }
    .product__name .slick-active button{
        background-color: #001E64;
    }
}

@media (max-width: 793px){
    .header__content-title {
            font-family: 'Roboto Slab',
            serif;
            font-weight: 700;
            font-size: 50px;
            line-height: 95%;
            color: #001E64;
            /* max-width: 100%; */
            padding-top: 96px;
            padding-left: 0;
            margin-bottom: 5px;
            text-align: center;
            }     

            .header-slider__text {
                margin-top: 15px;
                margin-bottom: -2px;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: #FFFFFF;
                
            }

            .header__btn {
                font-family: 'Roboto Slab', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 90%;

                color: #FFFFFF;

                padding: 7px 40px 7px 40px;

                border-radius: 20px;
                background-color: rgba(255, 255, 255, .5);
                margin-left: 112px;
                margin-top: 10px;
                display: inline-block;
                position: absolute;

                transform: translateY(-100px);



            }

            .header__btn:hover {
                background-color: #fff;
                color: #001E64;
                transition: all .6s;
            }
            .phone {
                margin-right: 0;
            }
            .logo{
                margin-left: 0;
            }
            .seafood{
                    padding: 180px 0 28px;
            } 
            .seafood__item {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }

    }

@media (max-width: 650px){
    .prodact__content{
        width: 100%;
    }
     .seafood {

         padding: 165px 0 40px;
     }
    /* .prodact__content-list {
        padding-left: 25px;
    } */
}  
@media (max-width: 600px){
        .prodact__content-box {
            display: block;
        }
        .prodact__content-list{
            width: 100%;
            padding-top: 25px;
            padding-left: 25px;
        }
        .slick-slide img{
            margin-left: 25px;
        }
        .prodact__content-title{
            padding-left: 25px;
        }
        .prodact__content-text{
            padding: 0 25px;
        }
        .prodact__content-btn{
            margin-left: 22px;
            padding: 10px 50px;
        }
        .product {
            padding-top: 75px;
        }
        .seafood {
            display: none;
        }
        .seafoods {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .seafoods__items {
                margin-bottom: 65px;
            }
}  
@media(max-width: 470px){
    .header-slider{
        padding-left: 50px;
        padding-top: 28px;
    }
    .slick-dots{
        left: 3px;
    }
    .slick-prev, 
    .slick-next{
        left: 8px;
    }
    .header__btn{
        margin-left: 50px;
        padding: 7px 30px 7px 30px;
        font-size: 18px;
    }
    .header__content-title{
        font-size: 34px;
        line-height: 90%;
    }
    .phone {
    margin-right: 0;
    }
    .logo{
        margin-left: 0;
    }
    .product{
        padding-top: 50px;
    }
    .seafood__item{
        margin: 0 auto;
    }
    .seafoods__items{
        margin-bottom: 35px;
    }
    .seafoods {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .contacts{
        background-image: none;
    }
    .contacts__box{
        margin: 0;
        width: 100%;
        padding: 33px 0 33px 10px;
        text-align: center;
    }

    .contacts__box-text{
        width: 100%;
    }
}

@media (max-width: 360px){
    .header__content-title {
        padding-top: 125px;
        font-size: 26px;
        line-height: 90%;
    }
    .phone{
        margin-right: 0;
    }
    .logo{
        margin-left: 0;
    }
    .menu__list{
        left: 10%;
        right: 10%;
    }
    .header-slider{
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 135px;
        
    }
    .product {
        padding-top: 25px;
    }


}